$primaryColor: #444;
$secondaryColor: #eece1a;
$backgroundOpacity: 0.85;
$shadow: 0px 0px 3px 3px rgba($secondaryColor, 0.5);

@mixin easeOut {
  transition: all 0.3s ease-out;
}

@mixin primaryShadow {
  border-shadow: 0px 0px 3px 3px rgba($primaryColor, 0.5); 
}

@mixin secondaryShadow {
  border-shadow: 0px 0px 3px 3px rgba($secondaryColor, 0.5); 
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
