// Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
}

// Tablets & Small Laptops
@include mediaMd {
}

// Smartphones
@include mediaSm {
  //Header
  .headerContainer {
    height: 80px;


    .headerTitle {
      font-size: 2.5rem;
      margin-left: 10px;
    }

    .menuIcon {
      width: 30px;
      height: 30px;
      margin-right: 15px;

      .menuLine {
        width: 75%;
        height: 3px;
        border-radius: 3px;
      }
    }
  }
}
