@import "reset";
@import "config";
@import "Header";
@import "SideDrawer";
@import "Backdrop";
@import "PostList";
@import "media";

.App {
  height: auto;
  min-height: 100vh;
  font-family: "Play", sans-serif;
  background: lighten($primaryColor, 15%);

  main {
    position: relative;
    padding-top: 125px;
  }
}
